/* Colors */
:root {
    --black: #0D1B2A;
    --blue: #415A77;
    --full-black: #000;
    --full-white: #FFF;
    --salesforce-blue: #009DDB;
    --white: #E0E1DD;

    --black-2: #1B263B;
    --blue-2: #778DA9;
}

/* Semantic colors */
/* Dark theme */
body {
      --base-text-color: var(--white);
      --button-color: var(--white);
      --button-hover-color: var(--blue-2);
      --card-background-color: var(--black-2);
      --card-header-border-color: var(--blue);
      --card-header-text-color: var(--blue-2);
      --experience-dates-color: var(--blue-2);
      --experience-name-color: var(--full-white);
      --header-switch-background-color: var(--blue-2);
      --header-switch-color: var(--black);
      --header-language-switcher-color: var(--white);
      --icon-main-color: var(--white);
      --link-color: var(--blue-2);
      --page-background-color: var(--black);
      --shadow-color: rgba(87, 86, 86, 0.5);
      --strong-text-color: var(--blue-2);
  }

/* Light theme */
body.m-light-theme {
    --base-text-color: var(--black);
    --button-color: var(--black-2);
    --button-hover-color: var(--blue-2);
    --card-background-color: var(--white);
    --card-header-border-color: var(--black-2);
    --card-header-text-color: var(--black);
    --experience-dates-color: var(--blue-2);
    --experience-name-color: var(--full-black);
    --header-switch-background-color: var(--blue-2);
    --header-switch-color: var(--white);
    --header-language-switcher-color: var(--black);
    --icon-main-color: var(--black);
    --link-color: var(--blue-2);
    --page-background-color: var(--full-white);
    --shadow-color: rgba(0,0,0,0.5);
    --strong-text-color: var(--blue-2);
}