/* Colors */
:root {
    --black: #0D1B2A;
    --black-2: #1B263B;
    --blue: #415A77;
    --blue-2: #778DA9;
    --white: #E0E1DD;
    --full-black: #000;
    --full-white: #FFF;
    --salesforce-blue: #009DDB;
}

/* Semantic colors */
/* Dark theme */
body { 
    --page-background-color: var(--black);
    --card-background-color: var(--black-2);
    --card-header-border-color: var(--blue);
    --card-header-text-color: var(--blue-2);
    --base-text-color: var(--white);
    --icon-main-color: var(--white);
    --button-color: var(--white);
    --button-hover-color: var(--blue-2);
    --experience-name-color: var(--full-white);
    --experience-dates-color: var(--blue-2);
    --header-switch-background-color: var(--blue-2);
    --header-switch-color: var(--black);

    --shadow-color: rgba(87, 86, 86, 0.5);
}

/* Light theme */
body.m-light-theme {
    --page-background-color: var(--full-white);
    --card-background-color: var(--white);
    --card-header-border-color: var(--black-2);
    --card-header-text-color: var(--black);
    --base-text-color: var(--black);
    --icon-main-color: var(--black);
    --button-color: var(--black-2);
    --button-hover-color: var(--blue-2);
    --experience-name-color: var(--full-black);
    --experience-dates-color: var(--blue-2);

    --header-switch-background-color: var(--blue-2);
    --header-switch-color: var(--white);

    --shadow-color: rgba(0,0,0,0.5);
}