main {
    display: grid;
    grid-template-columns: auto;
}

@media (min-width: 900px) {
    main {
        grid-template-columns: repeat(3, 33%);
    }

    header {
        grid-column: 1 / 4;
    }

    .b-certifications_card,
    .b-skills_card,
    .b-profile_card {
        grid-column: 1 / 2;
    }

    .b-experience_card {
        grid-column: 2 / 4;
        grid-row: 2 / 5
    }

    .b-about_me_card {
        grid-column: 1 / 3;
    }

    .b-participacion_card {
        grid-column: 3 / 4;
        grid-row: 5 / 6;
    }
}