---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ProfileCard from '../components/ProfileCard.astro';
import ExperienceCard from '../components/ExperienceCard.astro';
import AboutMeCard from '../components/AboutMeCard.astro';
import CertificationsCard from '../components/CertificationsCard.astro';
import SkillsCard from '../components/SkillsCard.astro';
import ParticipationCard from '../components/ParticipationCard.astro';
import '../css/profilePage.css';
---

<Layout title="Alejandro Monge 🦈">
	<main>
		<Header />
		<ProfileCard />
		<ExperienceCard />
		<ParticipationCard />
		<CertificationsCard />
		<SkillsCard />
		<AboutMeCard />
	</main>
</Layout>