---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ProfileCard from '../components/ProfileCard.astro';
import ExperienceCard from '../components/ExperienceCard.astro';
import '../css/profilePage.css';
---

<Layout title="Kevin Monge">
	<main>
		<Header />
		<ProfileCard />
		<ExperienceCard />
	</main>
</Layout>