---
import certifications  from '../data/certifications.json';
import { useTranslations } from '../i18n/utils';

const t = useTranslations(Astro);
---

<div class="c-card b-certifications_card">
    <div class="c-card_header">
        <span>{t('certifications.card.title')}</span>
    </div>
    
    <div class="b-certifications">
        {
            certifications.map((cert) => (
                <a href={cert.ulr} target="_blank">
                <img src={`img/certifications/${cert.image}`} alt={cert.name} />
            </a>
            ))
        }
    </div>
</div>