---
import Dev from '../icons/Dev.astro';
import ThemeSwitcher from './ThemeSwitcher.astro';
import LanguageSwitcher from './LanguageSwitcher.astro';
---

<header class="b-header">
    <Dev />
    <div class="b-header_switchers">
        <LanguageSwitcher />
        <ThemeSwitcher />
    </div>
</header>
