---
import { getCollection, render } from 'astro:content';
import { useTranslations, getLangFromUrl } from '../i18n/utils';
import { filterContentByLanguage } from '../content/utils';

const lang = getLangFromUrl(Astro.url);
const participations = await getCollection('participations');
const { Content } = await render(filterContentByLanguage(participations, lang)[0]);

const t = useTranslations(Astro);
---

<div class="c-card b-participacion_card">
    <div class="c-card_header">
        <span>{t('participations.card.title')}</span>
    </div>
    <div class="b-participacion">
        <Content />
    </div>
</div>