---
import LinkedIn from '../icons/linkedIn.astro';
import Email from '../icons/Email.astro';
import GitHub from '../icons/GitHub.astro';
---

<div class="c-card b-profile_card">
    <div class="b-profile">
        <img class="b-profile_img" src=`/img/profile.jpg` alt="Profile Picture">
        <h2 class="b-profile_name">Kevin Alejandro Monge Reyes</h2>
    </div>

    <section class="b-profile_description">
        <p>💡 Desarrollador Certificado de <span class="b-profile_salesforce">Salesforce B2C Commerce Cloud</span> con +4 años de experiencia en el desarrollo de comercios electrónicos.</p>
    </section>

    <section class="b-profile_contact">
        <a class="c-btn" href="https://www.linkedin.com/in/kevin-alejandro-monge-reyes-4049911a5" target="_blank">
            <LinkedIn />
            LinkedIn
        </a>
        <a class="c-btn" href="mailto: amonge_rey@hotmail.com">
            <Email />
            Contacto
        </a>
        <a class="c-btn" href="https://github.com/amonge-97/portfolio" target="_blank">
            <GitHub />
            Repo
        </a>
    </section>
</div>