---
import skills from '../data/skills.json';
import { useTranslations } from '../i18n/utils';

const t = useTranslations(Astro);
---

<div class="c-card b-skills_card">
    <div class="c-card_header">
        <span>{t('skills.card.title')}</span>
    </div>
    <div class="b-skills">
        {
            skills.map((skill) => (
                <img src={`img/skills/${skill.image}`} alt={skill.name} />
            ))
        }
    </div>
</div>