---
import LigthTheme from '../icons/LigthTheme.astro'
import DarkTheme from '../icons/DarkTheme.astro'

---

<label class="c-theme_switch">
    <input class="c-theme_switch_checkbox" type="checkbox" id="theme-toggle">
    <div class="c-theme_icon m-light">
        <LigthTheme />
    </div>
    <div class="c-theme_icon m-dark">
        <DarkTheme />
    </div>
</label>

<script>
    const toggleSwitch = document.getElementById('theme-toggle');
    const body = document.body;
    const LIGHT_THEME_MODIFIER = 'm-light-theme';

    const currentTheme =
        localStorage.getItem('theme') ||
        (window.matchMedia &&
        window.matchMedia('(prefers-color-scheme: dark)').matches
            ? 'dark'
            : 'light');

    if (currentTheme === 'light') {
        body.classList.add(LIGHT_THEME_MODIFIER);
    }
    toggleSwitch.checked = currentTheme === 'light';

    toggleSwitch.addEventListener('change', () => {
        if (toggleSwitch.checked) {
            body.classList.add(LIGHT_THEME_MODIFIER);
            localStorage.setItem('theme', 'light');
        } else {
            body.classList.remove(LIGHT_THEME_MODIFIER);
            localStorage.setItem('theme', 'dark');
        }
    });
</script>