.b-header {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}

.b-header_switchers  {
    align-items: center;
    display: flex;
    gap: 15px;
}

.c-language_switcher a {
    color: var(--header-language-switcher-color);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.c-theme_switch {
    display: inline-block;
    height: 30px;
    margin-bottom: 2px;
    position: relative;
    width: 30px;
}

.c-theme_switch .c-theme_switch_checkbox {
    height: 0;
    opacity: 0;
    width: 0;
}

.c-theme_icon {
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

body .c-theme_switch .c-theme_icon svg {
    height: 30px;
    width: 30px;
}

body .c-theme_switch .c-theme_icon.m-light {
    display: none;
}

body.m-light-theme .c-theme_switch .c-theme_icon.m-light {
    display: block;
}

body.m-light-theme .c-theme_switch .c-theme_icon.m-dark {
    display: none;
}