.b-header {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}

.c-switch {
    display: inline-block;
    height: 30px;
    position: relative;
    width: 50px;
}

.c-switch .c-switch_checkbox {
    height: 0;
    opacity: 0;
    width: 0;
}

.c-switch_slider {
    background-color: var(--header-switch-background-color);
    border-radius: 15px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.c-switch_slider:before {
    background-color: var(--header-switch-color);
    border-radius: 50%;
    bottom: 2px;
    content: "";
    height: 26px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

.c-switch_checkbox:checked + .c-switch_slider:before {
    transform: translateX(20px);
}