.b-profile {
    align-items: center;
    display: flex;
    gap: 20px;
}

.b-profile_name {
    font-size: 25px;
}

.b-profile_img {
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
    width: 100px;
}

.b-profile_salesforce {
    color: var(--salesforce-blue);
    font-weight: 600;
}

.b-profile_contact {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
