.b-skills {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-evenly;
    padding-top: 10px;
    width: 100%;
}

.b-skills img {
    height: 80px;
    margin: 0 15px 15px;
}